body{
  font-size: 12px;
  font-family: 'Lato';
  letter-spacing: 2px;
  margin: 0px;
  background: rgba(212,228,239,1);
}
.selectDisable {
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}


.quote-button {
  background-color: rgb(167 ,193, 235);
  font-size: 150%;
}
.button{
	border: none;
	padding: 5px;
	margin: 5px;
}
.button:hover{
	transform: ;
}
.paragraph{
  font-size: 10px;
  display: inline-block;
  visibility: hidden;
}
.quote-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
  background-color: white;
  opacity: 0.7;
  border-radius: 50%;
  height: 200px;
  letter-spacing: 0px;
  width: 200px;
  max-width: 45vh;
  max-height: 45vh;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3vh;
}
.quote-box-shake{
  animation: shake 0.5s cubic-bezier(.36,.07,.19,.37) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.quote-box:hover{
  transform: scale(1.06);
  transition-timing-function: ease 4s;
  transition: all .2s ease-in-out;
}
.quote{
  font-size: 12px;
  width: 70%; 
  opacity: 1;
  font-family: 'Lato', monospace;
  color: black;
}
.title {
  font-family: 'Patrick Hand SC', sans-serif;
  letter-spacing: 0px;
  margin-top: 10vh;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 4vw;
  max-font-size: ;
}
.page {
  width: 90vw;
  text-align: center;
}
.content {
  width: 90vw;
  text-align: center;
}
.like{
	background-color: rgb(123,234,156);
  visibility: hidden;
}
.dislike{
	background-color: rgb(255, 100,100);
  visibility: hidden;
}

/* Buttons */
.google-button{
  border-radius: 3px;
  background-color: white;
  height: 16px;
  cursor: pointer;
  padding: 2px;
  margin-top: 0px;
  vertical-align: top;
}

.twitter-share-button{
  padding: 0px;
  display: inline-block;
  margin: 0px;
  vertical-align: top;
}
.fb-share-button{
  padding-bottom: 5px;
  vertical-align: top;
  visibility: hidden;
}
#share-text{
  border: none;
  font-size: 70%;
}

/*Waves Animation*/
@keyframes pulsate {
  0% { transform: scale(1); bottom: 0%}
  50% { transform: scale(1.01); bottom:4%}
  100% { transform: scale(1); bottom: 0%}
}
.waves{
  background-image: url("https://raw.githubusercontent.com/Jiacomina/WhaleFactsGenerator/master/Images/waves.png");
  background-repeat: repeat-x;
  background-size: cover;
  position: fixed;
  width: 100vw;
  height: 150px;
  max-height: 15vh;
  left: 0px;
  right: 0px;
  bottom: 4%;
  margin-bottom: 0px;
  animation-name: floating;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes floating{
  from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 5vh); }
    to   { transform: translate(0, -0px); }  
}
.footer{
  height:5vh;
  width: 100vw;
  bottom: 0;
  left: 0;
  margin-bottom: 0px;
  right: 0;
  background-color: rgb(167 ,193, 235) ;
  position: fixed;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@media all and (min-height: 500px) {
.title{
  font-size: 35px;
  }
.paragraph{
  font-size: 14px;
  }
  .quote{
    font-size: 14px;
  }
}
@media all and (min-height: 700px) {
  .title{
  font-size: 7vh
  }
  }
@media all and (max-height: 350px) {

  .quote-box{
    border-radius: 7%;
    width: 90vw;
    max-width: 60vw;
  }
}
