body{
  font-size: 16px;
  font-family: sans-serif;
}
.quote-button {
  background-color: pink;
}
.button{
	border: none;
	padding: 5px;
	margin: 5px;
  font-size: 70%;
}
.button:hover{
	opacity: 0.8;
  transform: scale(1.1);
}
.quote {
  font-family: Times;
	height: 50px;
	vertical-align: middle;
}
.title {
  font-family: Courier;
}
.page {
  display: table;
  height: 100vh;
  width: 60vw;
  text-align: center;
}
.content {
  vertical-align: middle;
  display: table-cell;  
}
.like{
	background-color: rgb(123,234,156);
}
.dislike{
	background-color: rgb(255, 100,100);
}
.google-button{
  background-color: rgb(123,234,156);
}

#twitter-share-button{
  visibility: hidden;
  background-color: #4099FF; 
    color: white;

}
#facebook-button{
  visibility: hidden;
  background-color: #3b5998;
  color: white;
}
#share-text{
  visibility: hidden;
  border: none;
  font-size: 70%;
}
